
<div class="row">
	<div class="col-12 d-none d-md-block u-margin-top-60 u-margin-bottom-60 u-mobile-margin-top-40 u-mobile-margin-bottom-40">
		<hr class="o-rule">
		<div class="c-signup-body">
			<p class="c-signup-body__text">Become a Forty South Insider</p>
			<div class="c-button c-signup-body__button j-insider-signup">sign up</div>
		</div>
		<hr class="o-rule">
	</div>
</div>