{{ set(this, 'title', name) }}
{% set flash = _AppHelper.getFlashMessages() %}

{% set messages = "" %}
{% for error in flash %}
    {% for k,ms in error %}
        {% for m in ms %}
            {% set messages = messages ~ k ~ ": " ~ m %}
        {% endfor %}
    {% endfor %}
{% endfor %}


{% set networkData = _Network.getNetworkData() %}
{% set config      = _Network.getThemeConfig() %}

<div class="container u-margin-top-60">
    
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-7">

            <div class="c-error u-margin-bottom-60">
                <h1 class="c-error__title u-margin-bottom-50 u-mobile-margin-bottom-40">Oops!</h1>
                <p class="c-error__message u-margin-bottom-60 u-mobile-margin-bottom-30"> Some beautiful paths can’t be discovered without getting lost</p>
                <p class="c-error__message d-none u-margin-bottom-60 u-mobile-margin-bottom-30">{{messages}}</p>
                <div class="row justify-content-center d-none d-md-flex">
                    <a class="c-error__button c-button c-button--wide c-button--blue-bordered" href="/">Time to go home</a>
                </div>
                <a class="c-error__button c-button c-button--wide c-button--blue-bordered d-md-none" href="/">Time to go home</a>
            </div>
        
        </div>



        
    </div>
</div>
    
