@mixin card-6-base() {
    @include card-name("C6 mobile");

    .c-cards-view {
        @include flex-direction(row, horizontal);
        margin: 0;

        &__media {
            width: 45%;
            height: 200px;
            background: $white none repeat scroll 0 0 !important;

            img {
                display: block;
            }
            &--video {
                &:before {
                    @include size(104px);
                }
            }
        }

        &__container {
            width: calc(55% - 50px);
            margin-left: 50px;

        }

        &__category {
            margin-top:10px;
        }

        &__heading {
            min-height: 98px;
            max-height: 98px;
        }

        &.video {
            .c-cards-view__media .video-icon {
                @include size(104px);
            }
        }

        &.without-image {
            height: 200px;
            .c-cards-view__container {
                width: 100%;
                margin-left: 0px;
                padding: 55px calc(50% + 35px) 0 0;

            }

            .c-cards-view__description {
                @include font-size(18);
                display: block;
                width: 50%;
                padding-left: 35px;
                height: 112px;
                border-left: solid 1px $grey-4;
                position: absolute;
                right: 0;
                top: 55px;
                overflow: hidden;
            }

            
            
            .c-cards-view__category {
                position: absolute;
                top: 0;
                left:0;
            }

            .c-cards-view__heading {
                height:112px;
            }

            
            .c-cards-view__author {
                position: absolute;
                bottom: 0;
                left: 0;
            }

        }

        &.social {

            .social-icon {
                @include size(30px);

                &:before {
                    @include font-size(13);
                    line-height: 32px;
                }
            }

            &.without-image {
                .c-cards-view__container {
                    padding-top: 40px;
                }
            }
        }

    }
    &.design2 {
        .c-cards-view {
            &__heading {
                @include font-size(18);
                line-height: 1.3;
                font-weight: $weightBold;
            }
            &__additioanl-info {
                @include flexbox();
            }
        }
    }
}

.card-6-mobile {
    @media #{$mobile} {
        @include card-6-base();
    }
}


.card-6-tablet {

    @media #{$tablet} {

        @include card-6-base();
        @include card-name("C6 tablet");

        .c-cards-view {

            &__media{
                height: 180px;
                width: 180px;
            }
       
            &__container {
                width: calc(100% - 215px);
                margin-left: 35px;
                @include flexbox();
                @include flex-direction(column,vertical);
            }

            &__category {
                margin-top:0;
                order: 1;
            }

            &__heading {
                @include flex-height(66px);
                @include font-size(22);
                font-weight: $weightBold;
                order: 2;

            }

            &__description{
                display: block;
                @include flex-height(64px);
                @include font-size(16);
                order: 3;
            }

            &__author {
                order: 4;
                margin-top:0;
                padding-top: 5px;
                &-name{
                    @include font-size(13);
                }
            }



            &.without-image {
                
            }


        }
    }






    &.video {
        .c-cards-view__media .video-icon {
            @include size(70px);
        }
    }

    &.social {
        .social-icon {
            @include size(50px);

            &:before {
                @include font-size(22);
                line-height: 52px;
            }
        }

        &.without-image {
            .c-cards-view__container {
                padding-top: 60px;
            }
        }
    }
}

@mixin card-6-desktop-base() {
    @include card-6-base();
    @include card-name("C6 desktop");

    .c-cards-view {

        
       
        &__container {
            width: calc(55% - 50px);
            margin-left: 50px;

        }

        &__category {
            margin-top:10px;
        }

        &__heading {
            @include flex-height(100px);
            @include font-size(25);
            font-weight: $weightBold;

        }

        &__author {
            margin-top:30px;
            &-name{
                @include font-size(13);
            }
        }



        &.without-image {
            
        }


    }

    &.video {
        .c-cards-view__media .video-icon {
            @include size(70px);
        }
    }

    &.social {
        .social-icon {
            @include size(50px);

            &:before {
                @include font-size(22);
                line-height: 52px;
            }
        }

        &.without-image {
            .c-cards-view__container {
                padding-top: 60px;
            }
        }
    }
}

.card-6-desktop {

    @media #{$desktop-up} {
        @include card-6-desktop-base();
    }
}

// .card-6-desktop-up {
//     @media #{$desktop-up} {
//         @include card-6-desktop-base();
//     }
// }

// .card-6-desktop-lg {
//     @media #{$desktop-lg} {
//         @include card-6-desktop-base();

//         .c-cards-view {

//             // &__media {
//             //     min-height: 311px;
//             // }
//         }
//     }
// }
