

@mixin card-9-base() {
    
    margin-bottom: 25px;
    margin-top: 25px;
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 44px;
        height: 1px;
        background-color: $grey-3;
        right: calc(50% - 22px);
        left: calc(50% - 22px);
    }


    .c-cards-view {
        height: inherit;
        margin-bottom:0;

        &__media {
            display: none;
        }

        &__container {
            //height: 65px;
            overflow: hidden;
            //padding-bottom: 27px;
            width: 100%;
        }
        &__category {
            @include font-size(13);
            font-weight: $weightBold;
            margin-bottom:5px;
            text-align: center;
        }
        &__heading {
            @include font-size(22);
            font-weight: $weightRegular;
            min-height: 52.8px;
            max-height: 52.8px;
            text-align: center;
            // max-width: 65%;
            margin: 0 auto;
        }
        &__description {
            display:none;
        }
        &__author {
            display:none;
        }

    }
}

.card-9-mobile {
    @media #{$mobile} {
        @include card-9-base();
        .c-cards-view {
            &__heading {
                @include font-size(15);
                min-height: unset;
            }
        }
    }
}

.card-9-tablet {
    @media #{$tablet} {
        @include card-9-base();
        .c-cards-view {
            &__heading {
                @include font-size(18);
                
            }
        }
    }
}

.card-9-desktop {
    @media #{$desktop-up} {
        @include card-9-base();
    }
}






