@mixin card-5-base() {
    @include card-name("C5 mobile");

    .c-cards-view {
        @include flex-direction(column, vertical);
        // min-height: 417px;

        &__media {
            order: 2;
            width: 100%;
            // background: $white none repeat scroll 0 0 !important;

            img {
                display: block;
            }
            &--video {
                &:before {
                    @include size(152px);
                }
            }
        }

        &__container {
            order: 1;
            width: 100%;
            margin-left: 0;
            margin-bottom: 20px;
        }

        &__category {
            // margin-top:40px;
            @include font-size(13);
        }

        &__heading {
            @include flex-height(80px);
            @include font-size(32);
            font-weight: $weightUltrabold;
        }

        &__author {
            margin-top:40px;
        }



        &.without-image {
            height: 535px;
            .c-cards-view__container {
            }

            
            .c-cards-view__category {
                margin-bottom:40px;
            }

            .c-cards-view__heading {
                height:113px;
                margin-bottom: 50px;
            }

            .c-cards-view__description {
                text-align: left; 
                @include font-size(20);
                line-height: 1.67;
                margin-bottom: 100px;
                display: block;
                max-height: 200px;
                min-height: 200px;
                overflow: hidden;
            }
            
            .c-cards-view__author {
                position: absolute;
                bottom: 0;
            }

        }


    }

    &.video {
        .c-cards-view__media .video-icon {
            @include size(70px);
        }
    }

    &.social {
        .social-icon {
            @include size(50px);

            &:before {
                @include font-size(22);
                line-height: 52px;
            }
        }

        &.without-image {
            .c-cards-view__container {
                padding-top: 60px;
            }
        }
    }
}

.card-5-mobile {
    @media #{$mobile} {
        @include card-5-base();
    }
}


.card-5-tablet {

    @media #{$tablet} {

        @include card-5-base();
        @include card-name("C5 tablet");
        .c-cards-view {

            &__author{
                margin-top: 5px;
            }   
        }
        
    }
}


@mixin card-5-desktop-base {

    @include card-5-base();
    @include card-name("C5 desktop");

    .c-cards-view {

        &__media {
            min-height: 697px;
            // background: $white none repeat scroll 0 0 !important;

            
        }

        &__container {
            
            margin-bottom: 40px;
        }

        &__category {
            @include font-size(13);
        }

        &__heading {
            @include flex-height(50px);
            @include font-size(40);
        }

       
        &.without-image {
            height: 823px;
            
            .c-cards-view__category {
                margin-bottom:60px;
            }

            .c-cards-view__heading {
                height:113px;
                margin-bottom: 70px;
            }

            .c-cards-view__description {
                @include font-size(24);
                margin-bottom: 300px;
                max-height: 330px;
                min-height: 330px;
            }

        }
    }
}

.card-5-desktop {
    @media #{$desktop-up} {
        @include card-5-desktop-base();
    }
}

