@mixin card-9-base() {
    @include card-name("C9 mobile");

    .c-cards-view {
        

        // @media #{$bootstrap-sm} {
        //     @include flex-height(258px);
        // }



        &__media {
            
        }
        &__container{
            width: calc(50% - 15px);
        }
        &__category {
            
            margin-left: 30px;
        }


        &__heading {
            @include font-size(28);
            @include flex-height(105px);
            font-weight: $weightBold;
            line-height: 1.18;
            color: $black;
            margin-left: 30px;
        }

        &__description {
            @include font-size(13);
            @include flex-height(75px);
            display: block;
            font-weight: $weightRegular;
            line-height: 1.54;
            color: $grey-2;
            margin-left: 30px;
        }

        &__author {
            margin-top:20px;
            margin-left: 30px;
            position: absolute;
            bottom: 0;
            width: calc(50% - 15px);
        }
    }
}

.card-9-mobile {
    @media #{$mobile} {
        @include card-9-base();
    }
}

.card-9-tablet {
    @media #{$tablet} {
        @include card-9-base();
        @include card-name("C9 tablet");
    }
}

.card-9-desktop {
	@media #{$desktop-up} {
        @include card-9-base();
        @include card-name("C9 desktop");

    }
}
