@mixin card-12-base() {
    @include card-name("C12 mobile");

    .c-cards-view {
        @include flex-direction(column, vertical);
        &__media {
            width: 100%;
            height: 165px;
            &--video {
                &:before {
                    @include size(55px);
                }
            }
        }

        &__container {
            width: 100%;
            
        }
        &__heading {
            @include font-size(18);
            margin-bottom: 10px;
        }


        &.without-image {
            .c-cards-view__container {
                width: 100%;
                margin-left: 0px;
                padding: 0px 20px 0;
            }

            .c-cards-view__category {
                margin-top: 36px;
                margin-bottom: 24px;
            }


            .c-cards-view__heading {
                height: 55px;
            }

            .c-cards-view__description {
                margin-bottom: 15px;
                display: block;
                height:100px;
                max-height: 100px;
                overflow: hidden;
            }
            .c-cards-view__author {
                margin-top:55px;
            }

        }

        &.social {
            .social-icon {
                @include size(30px);

                &:before {
                    @include font-size(13);
                    line-height: 32px;
                }
            }

            &.without-image {
                .c-cards-view__container {
                    padding-top: 40px;
                }
            }
        }

    }
   
}


.card-12-mobile {
    @media #{$mobile} {
        @include card-12-base();
        .c-cards-view {
            &__container {
                margin: 11px 0 25px;
            }
            &__category{
                @include font-size(10);
                text-align: center;
            }

            &__heading {
                text-align: center;
            }
            &__author{
                &-name{
                    margin: 0 auto;
                    @include font-size(11);
                }
            }
        }
    }
}


.card-12-tablet {

    @media #{$tablet} {
        
        @include card-12-base();
        @include card-name("C12 tablet");
        
    }
}


.card-12-desktop {

    @media #{$desktop-up} {

        @include card-12-base();
        @include card-name("C12 desktop");
        .c-cards-view {

            &__media{
                width: 100%;
                height: 250px;
            }

            &__container {
                width:   100%;
                margin: 17px 0 0;
            }

            &__heading{
                @include font-size(27);
                max-height: 65px;
                min-height: 65px;
                max-width: 85%;
                margin-bottom: 50px;
                
            }
        }
    }
}




