{% set articleCount = 0 %}
{% set cardIndex = 0 %}


<div class="row" data-section="04">
    <div class="col-12">
        <div class="c-page-head c-page-head-xs">
            <div class="u-heading__large u-heading__large-xs u-pr--6">{{title}}</div>
            {# <a href="{{link}}" class="c-page-head__link">View all</a> #}
        </div>
    </div>
</div>

{% set date = date() %}
{% set events = _Event.getEvents({"limit": 9, "start_date": date.date | split(" ")[0]}) %}

<div class="row">
    <div class="col-12 c-events">
        <div class="c-events-panel c-events-panel-xs">
            <h4 class="c-events-panel__head c-events-panel__head-xs">Upcoming Events</h4>
            <div class="row c-events-panel__details">                    
                {% for i in 0..8 if events[i] %}
                    <div class="col-12 col-md-4">
                        {{this.render('../_single-event.twig', {
                            event: events[i], 
                            imageSuppress: 'true',
                            containerClass: "event-card-2-mobile event-card-2-tablet event-card-2-desktop"
                        }) | raw}}
                        {% set eventCount = (dev) ? eventCount : eventCount + 1 %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div> <!-- row -->