.c-header-0-top-bar {
    order:1;
    //border-bottom: 1px solid $grey-4;
    @include flexbox();
    @include justify-content(flex-end);
    
    width: max-content;
    margin: 0 auto;
    
    &__ul{
        @include flexbox(); 
    }
    

    &__link {
        color: $grey-2;
        @include font-size(11);
        line-height:5px;
        letter-spacing: 0.4px;
        padding: 6px 32px;
        font-family: $font-family-sans-serif;
        font-weight: $weightRegular;
        text-transform: uppercase;
        white-space:nowrap;
        @include transition(all 0.3s ease);
        // &-2{
        //     color: white;
        // }
        &:last-child{
            padding-right: 0;
        }

        &:hover {
            color: $mainColor;
        }
    }
    @media #{$mobile} {
        display:none;
    }
    &__social{
        position: absolute;
        right: 25px;
        &__icon{
            margin-left: 15px;
        }
    }

}
