.c-eventdetail {
    &__media {
        @include margin-bottom(30);
       
        @media #{$mobile}{
            width: calc(100% + 70px);
            margin: 0 -35px 30px;
            height: 65vw;
        }
        @media #{$desktop-up}{
            position: absolute;
            width: 1200px;
            right: 35px;
            height: 546px;
        }
    }
    &__figure {
        height:100%;

        img {
            height:100%;
            width:100%;
            object-fit:cover;
        }
    }

   

    &__category {
        color: $mainColor;
        font-weight: $weightMedium;
        @include font-size(16);
        letter-spacing: 2px;
        line-height: 1.25;
        text-transform: uppercase;
        @include margin-bottom(40);
    }

    &__title {
        color: $grey-1;
        font-family: $primaryFont;
        @include font-size(40);
        line-height: 1.4;
        font-weight: $weightBold;
        @include margin-bottom(20);
        letter-spacing: normal;
        max-height: 220px;
        padding-bottom: 20px;
        border-bottom: 1px solid $grey-4;
        @media #{$desktop-up}{
            line-height: 1.2;
        }
    }

    &__excerpt{
        @include font-size(14);
        font-family: $secondaryFont;
        color: $grey-3;
        font-weight: $weightBold;
        line-height: 1.71;
        letter-spacing: 0.35px;
        @media #{$tablet}{
            @include font-size(16);
            line-height: 1.65;
            letter-spacing: 0.5px;
        
        }
        @media #{$desktop-up}{
            @include font-size(20);
            line-height: 1.65;
            letter-spacing: 0.5px;
        
        }
    }

    
    &__head{
        &--image{
            @media #{$desktop-up}{
                height: 486px;
            }
            @media #{$mobile}{
                padding-left: 20px;
            }
        }

    }


    &__info-item {
        @include flexbox();
        @include flex-direction(column, vertical);
        
    }

    &__info-head{
        @include font-size(30);
        text-align: center;
        margin-bottom: 40px;
        position: relative;
        font-weight: $weightBold;
        &:after{
            content: '';
            position: absolute;
            width: 44px;
            bottom: -15px;
            height: 1px;
            background-color: $grey-3;
            left: calc(50% - 22px);
        }
    }

    &__info-text {
        text-align: center;
        @include font-size(18);
        font-weight: $weightBold;
        font-style: italic;
        line-height: 1.56;
        color: $grey-1;

        >a{
            color: $main80;
        }
    }

    // &__excerpt {
    //     color: rgba(0, 0, 0, 0.7);
    //     font-family: $primaryFont;
    //     @include font-size(15);
    //     line-height: 1.6;
    //     font-weight: $weightUltrabold;
    //     @include margin-bottom(18);
    //     letter-spacing: 0.8px;
    // }
    &__content {

        p,
        span,
        b,
        u,
        a {

            color: $black !important;
            font-family: $secondaryFont !important;
            font-size: 15px;
            line-height: 1.5 !important;
            font-weight: $weightRegular;
            letter-spacing: 0.5px;
            margin-bottom: 20px;
            word-wrap: break-word;


            * {
                line-height: 1.5 !important;
                letter-spacing: 1px !important;
                font-family: $secondaryFont !important;
                word-wrap: break-word;
                margin-bottom: 0px !important;
            }
        }

        a {
            border-bottom: 1px solid $mainColor;
            @include transition(all 0.3s ease);
            font-family: $secondaryFont !important;
            color: $mainColor;

            &:hover,
            &:focus {
                border-color: $transparent;
            }
        }

        blockquote {
            color: $mainColor !important;
            font-family: $primaryFont !important;
            font-size: 22px !important;
            line-height: 1.45 !important;
            font-weight: $weightMedium !important;
            letter-spacing: 0.5px !important;
            margin-bottom: 44px !important;
            display: block;

            &:after {
                content: '';
                width: 76px;
                height: 1px;
                display: block;
                background: $grey-2 none repeat scroll 0 0;
                margin-top: 30px !important;
            }
        }

        img {
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 10px;
            margin-bottom: 25px;

            &:not([width]) {
                max-width: 100%;
                width: 100%;
            }
        }

        figure {
            position: relative;
            margin-top: 0;
            margin-bottom: 0;
            float: left;
            width: 100%;
            left: 50%;
            @include translate(-50%, 0);

            img {
                &:not([width]) {
                    max-width: 100%;
                    width: 100%;
                }
                margin-bottom:0;
            }

            figcaption {
                margin:0;
                width:100%;
                font-family: $font-family-serif;
                font-size: rem(12);
                font-weight: normal;
                font-style: italic;
                line-height: 1.47;
                color: #6c6c6c;
                clear: both;
                margin-bottom: 20px;
            }
        }

        figure[style*="right"] {
            margin-right: 0px;
            margin-left: 20px;
        }

        figure[style*="right"],
        figure[style*="left"] {
            left: auto !important;
            @include translate(0%, 0);
            margin-right: 20px;
        }

        div[style*="text-align:center"],
        div[style*="text-align: center"] {
            overflow: hidden;
        }

        iframe {
            width: $viewportSize;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $black !important;
        }

        h1 {
            font-size: 26px !important;
        }

        h2 {
            font-size: 24px !important;
        }

        h3 {
            font-size: 22px !important;
        }

        h4 {
            font-size: 20px !important;
        }

        h5 {
            font-size: 18px !important;
        }

        h6 {
            font-size: 16px !important;
        }

        ol,
        ul {
            overflow: hidden;
            margin-bottom: 20px;
            padding-left: 25px;

            li {
                width: 100%;
                float: left;
                list-style-position: outside;
                padding-left: 7px;
                margin-bottom: 10px;
                color: $grey-2 !important;
                font-family: $secondaryFont !important;
                font-size: 16px !important;
                line-height: 1.6 !important;
                font-weight: $weightRegular !important;

                >p {
                    margin-bottom: 0px;
                }
            }
        }

        ul li {
            list-style-type: disc !important;

            span {
                position: relative;
                left: -22px;
                font-family: $secondaryFont !important;
            }
        }

        ol li {
            list-style-type: decimal !important;
        }
    }
    

    &__map {
        @include margin-top(40);
    }
}
