/* Begin header style */

.responsive-standalone {
    top: 0;
    width: 100%;
    // height: $viewportSize;
    /* display: none;
    border-right: 1px solid $border; */
    left: auto;
    right: 0;
    text-align: left;
    z-index: 99999999;
    visibility: hidden;
    // padding: 0px 0px 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    @include transition(all 0.3s ease);
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transition: translate3d(0, -100%, 0);
    -ms-transition: translate3d(0, -100%, 0);
    -o-transition: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    position: fixed !important;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    padding-bottom: 100px;

    &.navigation-active {
        visibility: visible;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transition: translate3d(0, 0, 0);
        -ms-transition: translate3d(0, 0, 0);
        -o-transition: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }


    &-close {
        display:flex;
        top: 0px;
        right: 0;
        z-index: 100;
        position: absolute;
        width:100%;
        @include font-size(20);
        @include align-items(flex-start);

        padding: .5em 0.85em;
        line-height: 1.5em;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -webkit-transform: translate3d(100%, 0, 0);
        -moz-transition: translate3d(100%, 0, 0);
        -ms-transition: translate3d(100%, 0, 0);
        -o-transition: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: hidden;
        cursor: pointer;
        border-bottom: 1px solid $grey-6;
        &.open {
            visibility: visible;
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transition: translate3d(0, 0, 0);
            -ms-transition: translate3d(0, 0, 0);
            -o-transition: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }

        .close-text {
            width: 3em;
            float: left;
            height: 1.5em;
            color: $white;
            display: block;
            overflow: hidden;
        }

        .fa {
            color: $white;
        }

        &-menu {
            flex:2;
            color:$mainColor;
            @include font-size(18);
            >img{
                width: 150px;
            }
        }
        &-close {
            flex:0 0 22px;
            height:30px;
            width: 50px;
        }
    


    }

    &-overlay {
        display: none;
        background: rgba($black, 0.7);
        position: fixed;
        @include size(#{$viewportSize});
        top: 0;
        z-index: 10;
        left: 0;
    }

    .standalone-menu {
        padding: 53px 0 0 0;
        margin:0;
        background: $white none repeat scroll 0 0;
        > li {
            padding-left:25px;
            position:relative;
            
            

            a {
                display: block;
                @include font-size(14);
                padding: 20px 0 20px 0;
                font-weight:$weightRegular;
                letter-spacing: 1.4px;
                text-align: left;
                width: $viewportSize;
                color: $grey-1;
                text-transform: uppercase;
                position: relative;
                &:after{
                    content: '';
                    width: calc(100% - 50px);
                    //margin: 0 25px;
                    height: 1px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    
                    background-color: $grey-6;
                }
            
            }
            &:last-child{
                >a::after{
                    display: none;
                }
            }

            &.active {
                background: $mainColor none repeat scroll 0 0;
                >a {
                    color:$white;
                    &:after{
                        background-color: $grey-6;
                    }
                }

                .list-arrow {
                    @include rotate(180);
                    > span {
                        border-color:white;

                    }
                }
            }
        }
        
        .list-arrow-container {
            position:absolute;
            display:block;
            right:0;
            top:0;
            height:58px;
            width:60px;
            &:hover{
                cursor:pointer;
            }
        }

        .list-arrow {
            @include rotate(90);
            position:absolute;
            display:block;
            right:20px;
            top:25px;
            height:15px;
            width:15px;
            z-index:999;
            transition:.2s ease;

            > span {
                border-color: $grey-2;
            }

            &:hover {
                @include rotate(180);
            }
        }



        .custom-menu {
            display: none;
            //padding: 0;
                
            background: $mainColor none repeat scroll 0 0;

            

            &-child{
                >a {
                    color:$white;
                }   
                padding-left:25px;
                &:last-child{
                    >a::after{
                        display: none;
                    }
                }
            }

            &-child--babies{
                background: $grey-6 none repeat scroll 0 0;
                margin-left: -25px;
                padding-left: 50px;
                a {
                    color:$grey-1;
                    &:after{
                        background-color: $grey-3;
                    }
                    
                }
                &:last-child{
                    >a::after{
                        display: block;
                    }
                }
                
            }

            

            &--active { 
                display:block;
                
            }

            

            .custom-menu-child-sub{
                >li {
                    padding-left: 25px;
                    
                    
                    a {
                        color:$grey-1;
                        &:after{
                            background-color: $grey-3;
                        }
                    }
                    &:last-child{
                        >a::after{
                            display: none;
                        }
                    }

                }

                
            }
        }


    }
    .standalone-menu-base{
        padding: 10px 0;
        margin:0;
        background: $mainColor none repeat scroll 0 0;
        > li {
            padding-left:25px;
            position:relative;
            min-height: 35px;
            a {
                display: block;
                @include font-size(12);
                font-family: $font-family-sans-serif;
                padding: 10px 0;
                font-weight:$weightBold;
                letter-spacing: 1px;
                text-align: left;
                width: $viewportSize;
                color: $white;
                text-transform: uppercase;
                position: relative;
            }
            >.custom-menu{
                display: block;
                padding: 15px 0 15px 30px;
                border-top: 1px solid $white;
                border-bottom: 1px solid $white;
                margin: 0 0 15px 0;
                width: calc(100% - 50px);
            }
            .list-arrow-container {
                display: none;
            }
            .standalone-menu-base__social{
                width: calc(100% - 50px);
                //border-top: 1px solid $white;
                position: relative;
                
                >a{
                   width: 25px; 
                   height: 25px;
                   position: relative;
                   float: left;
                   margin-right:10px;
                   >svg{
                        position: relative;
                        margin: 4.5px auto;
                        height: 16px;
                        >path{
                            fill: $white;
                            opacity: 1;
                        }
                   }
                }
            }

        }
       
    }
    
}

/* End header style */