/* Begin page head style */
.c-search {
    &__head {
        @include font-size(15);
        font-family: $secondaryFont;
        color: $grey-1;
        line-height: 1.6;
        @include margin-bottom(30);
        @media #{$tablet-up}{
            @include font-size(20);
            line-height: 1.3;
        }
    }

    &__name {
        font-weight: $weightMedium;
    }

    

}

/* End page head style */