.article-gallery {

    // @media #{$mobile}{
    //     margin-left: -35px;
    //     margin-right: -35px;
    // }

    &__image {
        position:relative;
        margin:0;
        @media #{$mobile} {
            height:50vw;
            margin-bottom: 25px;
        }
        
        @media #{$tablet} {
            height:390px;
        }
        @media #{$desktop-up} {
            height:540px;
        }
    }

    &__img-container {
        background-color: $grey-7;
        @media #{$tablet}{
            height: 400px;
        }
        @media #{$mobile}{
            height: 250px;
        }
    }


    &__img-container-article {
        height:100%;
    }


    &__img {
        max-width: 100%;
        margin:auto;
        display: block;
        width:auto !important;
        height:100%;
        object-fit: cover;
    }



    &__thumbs {
        max-height:725px;
        @include flexbox();
        @include flex-direction(column, vertical);
        overflow-x: hidden;
        overflow-y: scroll;
        // white-space:nowrap;
        .owl-thumb-item {
            margin-bottom:15px;
            object-fit: cover;
            height: 133px;
            &.active {
                border:4px solid #B9B9B9;
            }
        }
    }
    



    &__caption {

        margin-top: 10px;
        
        @media #{$media-ipadSmall} {
            float: left;
            margin-bottom: 30px;
        }

        @media #{$mobile}{
            margin: 0 15px;

        }
        
        > p {
            @include font-size(12);
            color: $grey-2;
            font-style: italic;
            line-height: 1.36;
            font-family: $base-font-family;
            float: left;
            @media #{$mobile}{
                margin-bottom: 0;
            }
        }
    }


    &__category {
        margin-top:10px;
        @include font-size(13);
        font-weight: $weightBold;
        text-transform:uppercase;
        color: $mainColor;
        text-decoration: none;
    }
    &__title {
        margin-top:10px;
        @include font-size(30);
        font-weight: $weightBold;
        float:left;
    }
    &__date {
        @include font-size(11);
        font-weight: $weightRegular;
        font-style: italic;
        float:right;
        margin-top: 22px;
    }

    &__count{
        float: right;
        @include font-size(20);
        line-height: 1.3;
        letter-spacing: 2px;
        text-align: right;
        color: $mainColor;
        margin-top: 15px;
    }



    &__single {
        >.article-gallery__image-article{
            >.external-article-video {
                max-width: 915px;
            }
        }
    }

}