.c-error {
    position: relative;
    
    
    &__title {
        color: $grey-4;
        @include font-size(60);
        text-align: center;
        @media #{$tablet-up}{
            @include font-size(74);
        }
    }

    &__message {
        @include font-size(18);
        line-height: 1.56;
        text-align: center;
        @media #{$tablet-up}{
            @include font-size(30);
        }
  
    }
    &__button {
        margin: 0 auto;
    }

}