/* Begin feed listing style */

.c-news-feed {
    &__title {
        color: $black;
        @include font-size(30);
        line-height: 1.2;
        font-weight: $weightBold;
        position: relative;
        padding-bottom: 25px;
        // margin-bottom: 25px;
        text-align: center;

        &--before{
            &:before {
                content: '';
                position: absolute;
                left: calc(50% - 22px);
                
                right: calc(50% - 22px);
                bottom: 0;
                width: 44px;
                height: 1px;
                background-color: $grey-3;

            }
        }
    }

    &__list {
        padding: 0px;

        li {
            margin-top: 20px;
        }
        &__items {
            @include flexbox();
        }
    }
}

/* End feed listing style */