.c-signup-body {
    padding: 15px 35px;
    position: relative;

    &__text{
        @include font-size(40);
        font-weight: $weightBold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        color: $grey-2;
        @media #{$tablet}{
            line-height: 0.8;
            text-align: center;
        }
    }

    &__button{
        @media #{$tablet-up}{
            width: 358px;
        }
        @media #{$tablet}{
            position: relative;
            margin: 30px auto 0;
            display: block;
        }
        @media #{$desktop-up}{
            position: absolute;
            right: 35px;
            top: 5px;
        }
        
    }

}

